$ORIGIN {{ zone.name }}
$TTL 300

@                        IN    SOA    ns1.abhaile.home.arpa. hostmaster.abhaile.home.arpa. (
        {{ zone.serial }}
        7200       ; refresh
        3600       ; retry
        1209600    ; expire
        3600 )     ; minimum
@                        IN    NS     ns1.abhaile.home.arpa.
@                        IN    NS     ns2.abhaile.home.arpa.


{% for record_type in ['A', 'AAAA', 'CNAME', 'MX', 'SRV', 'TXT', 'PTR'] %}
{%     for rec in zone.records if rec.type == record_type %}
{%         set rdata = '"' ~ rec.rdata ~ '"' if rec.type == 'TXT' else rec.rdata %}
{{ "%-24s %-5s %-6s %s" | format(rec.name, "IN", rec.type, rdata) }}
{%     endfor %}
{% endfor %}
