exit_after_auth = false
pid_file = "/agent/run/agent.pid"

vault {
  address = "http://{{ service.config.vault_addr | strip_cidr }}:8200"
}

auto_auth {
  method "approle" {
    config = {
      role_id_file_path = "/agent/role-id"
      secret_id_file_path = "/agent/secret-id"
      remove_secret_id_file_after_reading = false
    }
  }

  sink "file" {
    config = {
      path = "/agent/run/vault-agent-token"
      mode = 0600
    }
  }
}

# --- Service-collected templates ---
{% for t in vault_agent_templates %}
template {
  source      = "{{ t.source }}"
  destination = "{{ t.dest }}"
  perms       = "{{ t.perms }}"
}
{% endfor %}
