extends: default
rules:
  document-start: disable
  line-length:
    max: 180
    allow-non-breakable-words: true
  truthy: disable
  trailing-spaces: enable
  indentation:
    indent-sequences: consistent
