[Unit]
Description=TP-Link Omada Controller
After=abhaile-secrets-ready.service omada-controller-env.service omada-controller-app-mongodb.service
Requires=abhaile-secrets-ready.service omada-controller-env.service omada-controller-app-mongodb.service

[Container]
EnvironmentFile=/etc/omada-controller/omada-controller.env
Pod={{ pod }}
Image={{ image }}
StopTimeout=60
Timezone=local
Ulimit=nofile=4096:8192
{% for v in volume_lines %}
{{ v }}
{% endfor %}

[Service]
Restart=on-failure
RestartSec=5s
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
