[Unit]
Description=Caddy (DMZ)
After=network-online.target
Wants=network-online.target

[Container]
DNS={{ network.services['coredns-clean'].address | strip_cidr }}
EnvironmentFile=/etc/caddy/dns.env
Image={{ build }}
Network={{ network.services[service_name].vlan }}.network
PodmanArgs=--ip={{ network.services[service_name].address | strip_cidr }}
Timezone=local
{% for v in volume_lines   %}
{{ v }}
{% endfor %}

[Service]
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
