# Example env file for abhaile-gitops@.service
REPO_URL="git@github.com:moonpie/abhaile.git"
BRANCH="main"
WORK_DIR="/opt/abhaile"
PIN_COMMIT=""
PIN_TAG=""
DRY_RUN=0
AUTO_RESTART=1
GIT_SSH_KEY="/home/abhaile/.ssh/gitops_ed25519"
