[Unit]
Description=HashiCorp Vault (Raft)
After=network-online.target
Wants=network-online.target

[Container]
EnvironmentFile=/srv/vault/vault.env
Image=vault.image
Network=services.network
PodmanArgs=--ip=172.20.20.204
Timezone=local
Volume=vault-config.volume:/vault/config:rw
Volume=vault-data.volume:/vault/data:rw
Volume=host-certs.volume:/etc/ssl/certs:ro
Entrypoint=/bin/vault
Exec=server -config=/vault/config/local.json

[Service]
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
