[Unit]
Description=Redis (sessions)
Requires=abhaile-secrets-ready.service authelia-redis-conf.service
After=abhaile-secrets-ready.service authelia-redis-conf.service

[Container]
Pod={{ pod }}
Image={{ image }}
Timezone=local
{% for v in volume_lines %}
{{ v }}
{% endfor %}
Exec=redis-server /usr/local/etc/redis/redis.conf
HealthCmd=["CMD-SHELL","redis-cli -a $$(awk '/requirepass/ {print $2}' /usr/local/etc/redis/redis.conf) -h 127.0.0.1 -p 6379 PING | grep -q PONG"]
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=10s
Notify=healthy
StopSignal=SIGTERM
StopTimeout=60

[Service]
Restart=on-failure
CPUQuota=100%
MemoryMax=256M

[Install]
WantedBy=multi-user.target
