[Unit]
Description=Refresh Vault-Agent AppRole token for %i
After=network-online.target vault.service abhaile-vault-unseal.service
Wants=network-online.target
Requires=abhaile-vault-unseal.service

[Service]
Type=oneshot
WorkingDirectory=/var/lib/abhaile/gitops/%i
EnvironmentFile=/etc/abhaile/vault-agent-approle/%i.env
ExecStart=/var/lib/abhaile/gitops/%i/tools/vault/vault_token_refresh.sh %i
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vault-token-refresh-%i

[Install]
WantedBy=multi-user.target
