[Unit]
Description=Unseal Vault using SOPS file
After=vault.service network-online.target
Wants=vault.service

[Service]
Type=oneshot
Environment=HOME=/root
Environment=XDG_CONFIG_HOME=/root/.config
Environment=SOPS_AGE_KEY_FILE=/root/.config/sops/age/keys.txt
Environment=VAULT_ADDR=http://{{ services.vault.address }}:8200
WorkingDirectory=/var/lib/abhaile/gitops/{{ hostname }}
ExecStart=/var/lib/abhaile/gitops/{{ hostname }}/tools/vault/vault_unseal.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
