[Unit]
Description=TP-Link Omada Controller + MongoDB Pod
After=network-online.target
Wants=network-online.target

[Pod]
Network={{ network.services[service_name].vlan }}.network
IP={{ network.services[service_name].address | strip_cidr }}

[Install]
WantedBy=multi-user.target
