[Unit]
Description=Copy Authelia config from Vault Agent and restart Authelia
After=abhaile-secrets-ready.service
Requires=abhaile-secrets-ready.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/install -d -m 0750 -o root -g root /srv/authelia/authelia/config
ExecStart=/usr/bin/install -m 0640 -o root -g root /srv/vault/agent/out/authelia.configuration.yml /srv/authelia/authelia/config/configuration.yml
ExecStartPost=/usr/bin/systemctl --no-block try-restart authelia-app-authelia.service
