[Container]
ContainerName=caddy
DNS=192.168.0.100
EnvironmentFile=/home/moonpie/git/abhaile/containers/caddy/.env
HostName=caddy
Image=caddy.build
Network=secure.network
PodmanArgs=--mac-address=de:ae:e8:20:13:93 --ip=192.168.0.14
Secret=desec-token,type=env,target=DESEC_TOKEN
Timezone=local
Volume=caddy-data.volume:/data
Volume=caddy-config.volume:/config
Volume=caddy-site.volume:/var/www/html
Volume=caddy-caddyfile.volume:/etc/caddy

[Service]
Restart=always
