[Unit]
Description=Unseal Vault using host sealed bootstrap artifact
After={{ "vault.service " if "vault" in host_services else "" }}network-online.target
Wants=network-online.target
ConditionPathExists=/opt/abhaile/config/bootstrap/sealed/{{ host_name }}/vault-bootstrap.sops.yaml

[Service]
Type=oneshot
Environment=SOPS_AGE_KEY_FILE=/home/abhaile/.config/sops/age/keys.txt
Environment=VAULT_ADDR=http://{{ vault_addr | strip_cidr }}:8200
Environment=UNSEAL_FILE=/opt/abhaile/config/bootstrap/sealed/{{ host_name }}/vault-bootstrap.sops.yaml
ExecStart=/bin/bash /opt/abhaile/tools/bash/vault-unseal.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
