[Unit]
Description=Authelia (SSO)
After=abhaile-secrets-ready.service authelia-app-redis.service
Requires=abhaile-secrets-ready.service authelia-app-redis.service

[Container]
Pod=authelia-app.pod
Image=authelia.image
Timezone=local
Volume=authelia-app-authelia-config.volume:/config:Z
Volume=/srv/vault/agent/out/authelia.configuration.yml:/srv/vault/agent/out/authelia.configuration.yml:Z
Volume=authelia-app-authelia-data.volume:/data:Z
Volume=host-certs.volume:/etc/ssl/certs:ro
HealthCmd=["CMD-SHELL","wget -qO- http://127.0.0.1:9091/api/health | grep -q OK"]
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3

[Service]
Restart=on-failure
CPUQuota=100%
MemoryMax=512M

[Install]
WantedBy=default.target
