[Unit]
Description=Blocky DNS Filter
After=network-online.target
Wants=network-online.target

[Container]
Image=blocky.image
Network=services.network
PodmanArgs=--ip=172.20.20.234
Timezone=local
Volume=/srv/blocky/config.yml:/app/config.yml:ro
Volume=host-certs.volume:/etc/ssl/certs:ro

[Service]
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
