[Unit]
Description=Frigate NVR
After=network-online.target
Wants=network-online.target

[Container]
AddDevice=/dev/dri/renderD128
AddDevice=/dev/apex_0:/dev/apex_0
EnvironmentFile=/home/moonpie/git/abhaile/containers/frigate/.env
Image=frigate.image
Network=services.network
PodmanArgs=--ip=172.20.20.226
ShmSize=100m
StopTimeout=30
Timezone=local
Tmpfs=/tmp/cache:size=1g
Volume=frigate-config.volume:/config
Volume=frigate-storage.volume:/media/frigate
Volume=host-certs.volume:/etc/ssl/certs:ro

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
