[Match]
Name=enp0s31f6

[Link]
RequiredForOnline=routable

[Network]
Address={{ network.hosts[host_name].interfaces['enp0s31f6'].address }}
Gateway={{ network.vlans.services.gateway }}
DNS={{ network.services['coredns-filtered'].address }} {{ network.services['coredns-clean'].address }}
Domains=abhaile.home.arpa
UseDomains=yes
IPVLAN=ipvlan-l2
