[Unit]
Description=Caddy (Internal)
After=network-online.target
Wants=network-online.target

[Container]
Image=caddy-internal.image
Network=services.network
PodmanArgs=--ip=172.20.20.200
Timezone=local
Volume=caddy-internal-config.volume:/config:rw
Volume=caddy-internal-data.volume:/data:rw
Volume=host-certs.volume:/etc/ssl/certs:ro
Volume=/srv/caddy/internal/Caddyfile:/etc/caddy/Caddyfile:rw

[Service]
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
