[Unit]
Description=Copy Redis config from Vault Agent and restart redis
After=abhaile-secrets-ready.service
Requires=abhaile-secrets-ready.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /srv/authelia/redis/config
ExecStart=/usr/bin/install -m 0640 -o root -g root /srv/vault/agent/out/authelia-redis.conf /srv/authelia/redis/config/redis.conf
ExecStartPost=systemctl restart authelia-app-redis.service
